body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

a {
  text-decoration: none;
}

input {
  padding: 5px;
  font-size: 20px;
  border: 1px solid black;
}

button {
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.button-good {
  background-color: #4CAF50;
  color: white;
  margin-left: 15px;
}

.button-bad {
  background-color: #af2f22;
  color: white;
  margin-top: 20px;
}

.character-list-item {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 20px;
}

.character-list-item img {
  width: 100px;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.character-list-item h1 {
  margin-left: 20px;
  color: black;
}

.character {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.character-info {
  margin-left: 20px;
}

.character-image {
  position: relative;
  width: 300px;
}

.character-image .hurt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 300px;
  font-weight: bold;
  color: red;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

.image-large {
  width: 300px;
}

.character-actions {
  margin-top: 25px;
}