body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.character-list-item {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: 1px solid black;
}

.character-list-item img {
  width: 150px;
  height: 100%;
}

.character-list-item h1 {
  margin-left: 20px;
  color: black;
}

.character {
  display: flex;
  flex-direction: column;
}

.character-info {
  display: flex;
  flex-direction: row;
}

.characteristics {
  margin-left: 25px;
}

.character-image {
  position: relative;
  width: 200px;
}

.character-image .hurt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  color: red;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

.image-large {
  width: 200px;
}

.character-actions {
}
